/dataset/driver_drowsiness_dataset
/dataset/video
/dataset/yawn_eye_dataset_new

/venv311
/.venv
/venv

__pycache__/
*.py[cod]

/code/results/archive_video_before_timing_fix
/code/results/archive_invalid_duplicate_video_mar
/run_results
